<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>Tripulación</h2>
            <span class="subheading">¡Conoce a nuestros astronautas!</span>
          </div>
        </div>
      </div>
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="d-block table-scrollbar col-lg-8 col-md-10 col-sm-12 mx-auto">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Agencia</th>
                        <th>Estatus</th>
                        <th>Más info</th>
                    </tr>
                </thead>
            
                <tbody>
                    <tr *ngFor="let tripulante of tripulacion, let i = index">
                        <th>{{i+1}}</th>
                        <td>{{tripulante.name}}</td>
                        <td>{{tripulante.agency}}</td>
                        <td>{{tripulante.status}}</td>
                        <td><a class="btn btn-primary w-100"  [routerLink]="['/tripulacion', tripulante.id]">Más info</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

