<div class="container">
    <div class="row">
        <div class="d-block table-scrollbar col-lg-10 col-md-10 col-sm-12 mx-auto">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Éxito</th>
                        <th>Más info</th>
                    </tr>
                </thead>
            
                <tbody>
                    <tr *ngFor="let lanzamiento of lanzamientos, let i = index">
                        <th>{{i+1}}</th>
                        <td>{{lanzamiento.name}}</td>
                        <td>{{lanzamiento.date_utc}}</td>
                        <td>{{lanzamiento.sucess}}</td>
                        <td><a class="btn btn-primary w-100"  [routerLink]="['/lanzamiento', lanzamiento.id]">Más info</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

