<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <h2>Quiénes somos</h2>
                <p>
                    {{companyInfo.name}} diseña, crea y desarrolla cohetes avanzados y tecnología espacial. 
                    La compañia fue fundada en {{companyInfo.founded}} por {{companyInfo.founder}} para revolucionar la tecnología espacial, con la meta de explorar otros planetas.
                    Con actualmente {{companyInfo.employees}} empleados y un valor de {{companyInfo.valuation}} $ se posiciona como una de las empresas con mayor esperanza de crecimiento de los Estados Unidos y del mundo.
                </p>
            </div>

            <div class="post-preview">
                <h2>Dirección de la empresa</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cargo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{companyInfo.ceo}}</td>
                            <td>CEO</td>
                        </tr>
                        <tr>
                            <td>{{companyInfo.cto}}</td>
                            <td>CTO</td>
                        </tr>
                        <tr>
                            <td>{{companyInfo.coo}}</td>
                            <td>COO</td>
                        </tr>
                        <tr>
                            <td>{{companyInfo.cto_propulsion}}</td>
                            <td>CTO Propulsion</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="post-preview">
                <h2>Localización</h2>
                <p>Encuentranos en {{companyInfo.headquarters.address}} - {{companyInfo.headquarters.city}}, {{companyInfo.headquarters.state}}</p>
            </div>
        </div>
    </div>
</div>


