<h2 class="text-center mt-3">{{tripulante.name}}</h2>

<div class="container profile-image-container">
    <img class="d-block w-100" [src]="tripulante.image" alt="Imagen del astronauta">
</div>

<div class="container w-50 mx-auto">
   <table class="table mt-4">
        <thead>
            <th>Agencia</th>
            <th>Estatus</th>
            <th>Biografía</th>
        </thead>
        <tbody>
            <tr>
                <td>{{tripulante.agency}}</td>
                <td>{{tripulante.status}}</td>
                <td><a href="{{tripulante.wikipedia}}" class="btn btn-primary" target="_blank">Biografía en Wikipedia</a></td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-danger" (click)="volver()">Volver</button>
</div>